<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog 1</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=IBM Plex Sans:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="blog.css/blog.css">
    <link rel="shortcut icon" href="IMAGES/byteLOGO.svg" type="image/x-icon"> 
    <link rel="stylesheet" href="blog.css/individualblog.css">   
</head>
<script>// Get all anchor tags with the class "change-on-click"
    const anchorTags = document.querySelectorAll('.change-on-click');
    
    // Add a click event listener to each anchor tag
    anchorTags.forEach(anchor => {
      anchor.addEventListener('click', () => {
        anchor.classList.add('clicked'); // Add the "clicked" class
      });
    });
</script>
</style>

<body>
    <header>
        <div class="header" id="header">
            <div class="logo" id="logo">
                <a href="index.html"><img src="IMAGES/byteLOGO.svg" alt=""></a>
                <div class="byte-digital">
                    <a href="index.html"><div class="byte">Byte</div></a>
                    <a href="index.html"><div class="digital">Digital</div></a>
                </div>
            </div>
            <div class="headlinks" id="headerlinks">
                
                <a href="aboutus.html"><div class="no-decoration" >About us </div></a>
                <a href="index.html#section5"><div class="no-decoration">Services </div></a>
                <a href="our_work.html"><div class="no-decoration">Our work </div></a>
                <a href="blog.html"><div class="no-decoration" id="active">Blog </div></a>
                <a href="contacusforlive.html" target="_blank"><div class="no-decoration"><button>Book a call</button> </div></a>
                
            </div>
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </header>
    <main>
        <div class="pagecontent">
            <div class="main">
                <div class="pageimg"><img src="IMAGES/one.svg" alt=""></div>
                <div class="heading">
                    <h1>Software delivery using AGILE</h1>
                    <div class="datebox">
                        <p>7 December’ 2021</p>
                    </div>
                </div>
                <div class="maintext">
                    <p>Software delivery using agile methodologies is a process that involves the development and release of software products in a fast and flexible manner.</p>
                    <p>Agile methodologies are based on the principles of the Agile Manifesto, which prioritise individuals and interactions, working software, and customer collaboration over processes and tools. One of the key principles of agile software delivery is the use of short development cycles, known as "sprints."During each sprint, a team works on a specific set of features or capabilities, and at the end of the sprint, the team demonstrates the completed work to stakeholders.</p>
                    <p>This allows for rapid iteration and the ability to quickly incorporate feedback from stakeholders.Agile software delivery also emphasises the importance of flexibility and adaptability. Rather than following a rigid plan, agile teams are able to pivot and change direction based on changing business needs or customer feedback. This allows for a more efficient and effective development process, as the team can focus on the most valuable and pressing work at any given time.In addition to short development cycles and flexibility, agile software delivery also emphasises the importance of collaboration and communication.</p>
                    <p>Teams are encouraged to work closely with stakeholders, including customers and end users, to ensure that the software being developed meets their needs and expectations. This requires regular communication and the use of tools such as agile project management software and collaboration platforms.</p>
                    <p> Overall, the use of agile methodologies in software delivery allows for a faster, more flexible, and more collaborative development process. By prioritising individuals and interactions, working software, and customer collaboration, agile teams are able to deliver high-quality software products that meet the needs of their stakeholders.
                    </p>
                </div>
                <div class="blognavigation">
                    <p>
                         <span class="spanone"><a href="blog2.html" class="spantwo">View next blog </a> </span>
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="have_project"><h3>Have a project</h3></div>
            <div class="have_convo">
                <p>We should start a conversation ✋</p>
                
            </div>
            <div class="header_book"><button><a href="contacusforlive.html" target="_blank">Book free call today</a></button></div>
            <div class="hrline"></div>
            <div class="footer_table_sec">
                <div class="addrs">
                    <div class="add_cmpny-name"><p>BYTE DIGITAL</p></div>
                    <div class="cmpny_address"><a href="https://www.google.com/maps/place/470+St+Kilda+Rd,+Melbourne+VIC+3004,+Australia/@-37.8412405,144.9741949,17z/data=!3m1!4b1!4m6!3m5!1s0x6ad6693aa464baf9:0xbd7c4b011b939aeb!8m2!3d-37.8412448!4d144.9767698!16s%2Fg%2F11t46sgpgt?entry=ttu"><p>Ground floor, 470, St. Kilda Road,<br>Melbourne, VIC 3004, Australia</p></a></div>
                    <div class="cmpny_phn_no"><a href="tel:+61452515004">+61 - 452515004</a></div>
                    <div class="cmpny_email"><a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new">hello@byte-digital.com.au</a></div>
                </div>
                <div class="links">
                    <div class="cmpny">
                        
                    </div>
                    <a href="aboutus.html" class="service1">About us</a>
                    <a href="index.html#section5" class="service2">Services</a>
                    <a href="our_work.html" class="service3">Our work</a>
                    <a href="blog.html" class="service4"> Our Blog</a>
                  </div>
    
            </div>
            <div class="foot"></div>
            <div class="common_links">
                <div class="copy_right">
                    <ul>
                        <li class="copyright"><a href="#">© Copyright 2023 Byte Digital Consulting Pty Ltd.</a></li>
                        <li class="tndc"><a href="terms_of_condition.html" target="_blank">Terms & conditions</a></li>
                        <li class="privacy-policy"><a href="privacy_policy.html" target="_blank">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="logo_links">
                    
                    <div class="linkdin"><a href="https://www.linkedin.com/company/byte-digital-solutions/" target="_blank"><img src="IMAGES/linkdin.svg" alt="LinkedIn"></a></div>
                    <div class="facebook"><a href="https://www.facebook.com/people/Byte-Digital/61550311131920/?is_tour_dismissed=true" target="_blank"><img src="IMAGES/FACEBOOK.svg" alt="Facebook"></a></div>
                    <div  class="twitter"><a href="https://twitter.com/i/flow/login?redirect_after_login=%2FByteDigital_" target="_blank"><img src="IMAGES/TWITTER.svg" alt="Twitter"></a></div>
                    
                </div>
                
            </div>
            
        </div>
    </footer>
    <script>
        hamburger = document.querySelector(".hamburger");
        nav = document.querySelector(".headlinks");
        hamburger.onclick = function() {
            nav.classList.toggle("active");
        }
    </script>
</body>
</html>