<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Gibbon Multimedia</title>
    <link rel="stylesheet" href="gibbon.css/gibbon.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Sans:wght@400;500;700&display=swap"
    />
    <link rel="shortcut icon" href="IMAGES/byteLOGO.svg" type="image/x-icon">
    
    <style>
        *{
            padding: 0;
            margin: 0px;
            box-sizing: border-box;
            
          
        }
        body{
            background: linear-gradient(90deg, #232526 0%, #414345 100%);
        }
    </style>
</head>

<body>
    <header>
        <div class="header" id="header">
            <div class="logo" id="logo">
                <a href="index.html"><img src="IMAGES/byteLOGO.svg" alt=""></a>
                <div class="byte-digital">
                    <a href="index.html"><div class="byte">Byte</div></a>
                    <a href="index.html"><div class="digital">Digital</div></a>
                </div>
            </div>
            <div class="headlinks" id="headerlinks">

                <a href="aboutus.html">
                    <div class="no-decoration">About us </div>
                </a>
                <a href="index.html#section5">
                    <div class="no-decoration">Services </div>
                </a>
                <a href="our_work.html">
                    <div class="no-decoration" id="active">Our work </div>
                </a>
                <a href="blog.html">
                    <div class="no-decoration">Blog </div>
                </a>
                <a href="contacusforlive.html" target="_blank">
                    <div class="no-decoration"><button>Book a call</button> </div>
                </a>

            </div>
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </header>
    <main>
        <div class="gibbon_page">
            <div class="gib_sec" id="gib_sec1">
                <div class="gib_sec1_top_left">
                    <a href="our_work.html">
                        <p  class="top_left" >Our work</p>
                    </a>
                    <img src="IMAGES/top_left.svg" alt="">
                    <a href="#">
                        <p class="active" >Gibbon Multimedia</p>
                    </a>
                </div>
                <div class="gib_sec_main">
                    <div class="gib_sec_main_div">
                        <div class="sec_main_img">
                            <img class="gib_sec_1_img" src="IMAGES/gibbon_main_sec..svg" alt="" class="sec_1_IMG">
                        </div>
                        <div class="sec1_main_main">
                            <ul class="gib_main_list">
                                <li>UX Design </li>
                                <li>UI Design</li>
                                <li>Web Development</li>
                                <li>Android App</li>
                            </ul>
                            <div class="sec_main_main_content">
                                <h1>Bird watchers’ delight: Success for wildlife enthusiasts</h1>
                                <h2>Gibbon thrived with our services: Increased awareness, more visitors, and significant progress in conservation efforts.</h2>
                                <img class="gib_sec_1_img_p" src="IMAGES/gibbon_main_sec..svg" alt="" class="sec_1_IMG">
                                <p>
                                    Our partnership with Gibbon has revolutionised conservation. Through web and app development and user-centric design, we've elevated their mission. By increasing public awareness and engagement, we've built a stronger community of wildlife enthusiasts. </p>
                                <p>Our integration of technology and intuitive design has greatly improved the visitor experience, fostering greater support for Gibbon's preservation efforts. This collaboration demonstrates the transformative power of strategic alliances in wildlife conservation.</p>
                                <p>Together, we're ensuring the protection of these remarkable primates and their vital habitat for generations to come.
                                </p>
                                <!-- <p>The result was a significantly improved platform, characterised by user-centric design and top-notch performance. The company successfully enhanced its competitive edge, fostering user satisfaction and engagement in an increasingly competitive market.
                                </p> -->
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            <div class="gib_sec" id="gib_sec2">
                <div class="gib_overview">
                    <div class="project_overview">
                        <h3 class="over_view_h1" id="pro_OV_h3">
                            Project overview
                        </h3>
                        <p class="over_view_p" id="pro_Ov_p1">
                            To develop a Android mobile app and website for birdwatchers to record their sightings, add photos and sounds, and view maps of their observations.
                        </p>
                        
                        <ul class="project_overview_ul">
                            <p class="over_view_p" id="pro_Ov_p2">
                                The project includes the development of the following:
                            </p>
                            <li>Mobile app for Android devices</li>
                            <li>Website with a forum for users to share information and ask question</li>
                            <li>Database of bird species</li>
                            <li>Identification guide</li>
                            <li>Map of bird sightings</li>
                        </ul>
                        <p class="over_view_p" id="pro_O_p2">
                            The app and website have been well-received by users and have helped to improve the way birdwatchers record and share their sightings.
                        </p>
                    </div>
                    <div class="customer_objective">
                        <h3 class="over_view_h1" id="customer_Ob-h3">
                                Customer objective
                        </h3>
                        <p class="over_view_p" id="customer_OB_p1">
                            To provide birdwatchers with a mobile app and website that allows them to record their sightings, add photos and sounds, and view maps of their observations in a way that is easy to use, accurate, and reliable.
                        </p>
                    </div>
                    <div class="project_overview">
                        <h3 class="over_view_h1" id="pro_OV_h3">
                            Business objective
                        </h3>
                        <ul class="project_overview_ul">
                            <li>Increasing the average time spent by users on the app and website.</li>
                            <li>Increasing the number of in-app purchases made by users.</li>
                            <li> Generating positive reviews from users.</li>
                            <li>Building a strong brand reputation for the GibbonMM app and website.</li>
                        </ul>
                    </div>
                </div>
                <div class="gib_multimedia">
                    <h3 class="gib_multimedia_h3">
                        Gibbon Multimedia
                    </h3>
                    <p class="gib_multimedia_P1">
                        Gibbon Multimedia is a software company based in Peregian Springs, Australia. The company was founded in 1998 by two brothers, who are passionate about nature and technology. Gibbon Multimedia develops software for a variety of purposes, including birdwatching, education, and conservation.
                    </p>
                    <p class="gib_multimedia_P2">
                        One of the most popular products developed by Gibbon Multimedia is the GibbonMM app, which is a mobile app for birdwatchers. The app allows users to record their sightings, add photos and sounds, and view maps of their observations. The app also has a built-in identification guide and a forum where users can share information and ask questions.
                    </p>
                </div>
            </div>
            <div class="gib_sec" id="gib_sec3">
                <div class="gibbon_third_image_section" id="gibbon_third_image_section1">
                    <div class="design_service" id="ux_design_service_text">
                        <img src="IMAGES/cards.svg" alt="">
                        <h3>Transforming User Experience with our expert UX Design services</h3>
                        <p>Following our UX redesign, the Gibbon Bird-Watching App witnessed a remarkable 40% increase in user engagement, coupled with a substantial 25% surge in app downloads within the first month. User satisfaction soared, with over 90% reporting improved usability, resulting in a 30% decrease in bounce rates and a doubling of positive user reviews.</p>
                    </div>
                    <div class="service_img" id="ux_design_service_img">
                        <img src="IMAGES/gib_sec_3_1.svg" alt="">
                    </div>

                </div>
                <div class="gibbon_third_image_section" id="gibbon_third_image_section2">
                    <div class="service_img" id="android_service_img">
                        <img src="IMAGES/gib_sec_3_2.svg" alt="">
                    </div>
                    <div class="design_service" id="android_service_text">
                        <img src="IMAGES/adb.svg" alt="">
                        <h3>Unlocking the full potential of Gibbon Multimedia with our Android development service</h3>
                        <p>From a development perspective, our Android app overhaul for Gibbon delivered impressive results. Downloads shot up by 30%, reflecting the immediate impact of our work. User satisfaction skyrocketed by 40%, leading to a 25% surge in engagement. This transformation solidified Gibbon's standing as a premier bird-watching app.</p>
                    </div>
                </div>
            </div>
            <div class="gib_sec" id="gib_sec4">
                    <div class="review_heading">
                        <h2>Reviews</h2>
                        <div class="underline"></div>
                    </div>
                    <h3>Hear it from our customers</h3>
                    <p>“I have worked with Byte Digital for over two years on web and app development. They provide easy communication and consultation on ideas and have proved capable of delivering solutions on a range development platforms"</p>
                    <div class="reviewer">
                        <div class="names">
                            <p class="name" >Guy Gibbon,</p>
                            <p class="name_span" ><span>Gibbon Multimedia</span></p>
                        </div>
                        <div class="star_iages">
                            <img src="IMAGES/Star.svg" alt="">
                            <img src="IMAGES/Star.svg" alt="">
                            <img src="IMAGES/Star.svg" alt="">
                            <img src="IMAGES/Star.svg" alt="">
                            <img src="IMAGES/Star.svg" alt="">
                        </div>
                    </div>
                    
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="have_project">
                <h3>Have a project</h3>
            </div>
            <div class="have_convo">
                <p>We should start a conversation ✋</p>

            </div>
            <div class="header_book"><button><a href="contacusforlive.html" target="_blank">Book free call today</a></button></div>
            <div class="hrline"></div>
            <div class="footer_table_sec">
                <div class="addrs">
                    <div class="add_cmpny-name">
                        <p>BYTE DIGITAL</p>
                    </div>
                    <div class="cmpny_address">
                        <a href="https://www.google.com/maps/place/470+St+Kilda+Rd,+Melbourne+VIC+3004,+Australia/@-37.8412405,144.9741949,17z/data=!3m1!4b1!4m6!3m5!1s0x6ad6693aa464baf9:0xbd7c4b011b939aeb!8m2!3d-37.8412448!4d144.9767698!16s%2Fg%2F11t46sgpgt?entry=ttu"><p>Ground floor, 470, St. Kilda Road , <br>Melbourne, VIC 3004, Australia</p></a>
                    </div>
                    <div class="cmpny_phn_no"><a href="tel:+61452515004">+61 - 452515004</a></div>
                    <div class="cmpny_email"><a
                            href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new">hello@byte-digital.com.au</a>
                    </div>
                </div>
                <div class="links">
                    <div class="cmpny">
                        
                    </div>
                    <a href="aboutus.html" class="service1">About us</a>
                    <a href="index.html#section5" class="service2">Services</a>
                    <a href="our_work.html" class="service3">Our work</a>
                    <a href="blog.html" class="service4"> Our Blog</a>
                </div>

            </div>
            <div class="foot"></div>
            <div class="common_links">
                <div class="copy_right">
                    <ul>
                        <li class="copyright"><a href="#">© Copyright 2023 Byte Digital Consulting Pty Ltd.</a></li>
                        <li class="tndc"><a href="terms_of_condition.html" target="_blank">Terms & conditions</a></li>
                        <li class="privacy-policy"><a href="privacy_policy.html" target="_blank">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="logo_links">

                    <div class="linkdin"><a href="https://www.linkedin.com/company/byte-digital-solutions/"
                            target="_blank"><img src="IMAGES/linkdin.svg" alt="LinkedIn"></a></div>
                    <div class="facebook"><a
                            href="https://www.facebook.com/people/Byte-Digital/61550311131920/?is_tour_dismissed=true"
                            target="_blank"><img src="IMAGES/FACEBOOK.svg" alt="Facebook"></a></div>
                    <div class="twitter"><a href="https://twitter.com/i/flow/login?redirect_after_login=%2FByteDigital_"
                            target="_blank"><img src="IMAGES/TWITTER.svg" alt="Twitter"></a></div>

                </div>

            </div>

        </div>
    </footer>
</body>
<script>
    hamburger = document.querySelector(".hamburger");
    nav = document.querySelector(".headlinks");
    hamburger.onclick = function() {
        nav.classList.toggle("active");
    }
</script>
</html>