<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> The global Company</title>
    <link rel="stylesheet" href="global.css/global.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Sans:wght@400;500;700&display=swap"
    />
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=SF Pro:wght@400;700&display=swap"
  />
  <link rel="shortcut icon" href="IMAGES/byteLOGO.svg" type="image/x-icon">
    <style>
        body{
            background: linear-gradient(90deg, #232526 0%, #414345 100%);
        }
    </style>

</head>
<body>
    <header>
        <div class="header" id="header">
            <div class="logo" id="logo">
                <a href="index.html"><img src="IMAGES/byteLOGO.svg" alt=""></a>
                <div class="byte-digital">
                    <a href="index.html"><div class="byte">Byte</div></a>
                    <a href="index.html"><div class="digital">Digital</div></a>
                </div>
            </div>
            <div class="headlinks" id="headerlinks">

                <a href="aboutus.html">
                    <div class="no-decoration">About us </div>
                </a>
                <a href="index.html#section5">
                    <div class="no-decoration">Services </div>
                </a>
                <a href="our_work.html">
                    <div class="no-decoration" id="active">Our work </div>
                </a>
                <a href="blog.html">
                    <div class="no-decoration">Blog </div>
                </a>
                <a href="contacusforlive.html" target="_blank">
                    <div class="no-decoration"><button>Book a call</button> </div>
                </a>

            </div>
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </header>
    <main>
        <div class="gib_sec" id="gib_sec1">
            <div class="gib_sec1_top_left">
                <a href="our_work.html">
                    <p  class="top_left" >Our work</p>
                </a>
                <img src="IMAGES/top_left.svg" alt="">
                <a href="global.html">
                    <p class="active" >Global network SAAS company</p>
                </a>
            </div>
            <div class="gib_sec_main">
                <div class="gib_sec_main_div">
                    <div class="sec_main_img">
                        <img class="gib_sec_1_img" src="IMAGES/global_main_sec.svg" alt="" class="sec_1_IMG">
                    </div>
                    <div class="sec1_main_main">
                        <ul class="gib_main_list">
                            <li>UX Design </li>
                            <li>UI Design</li>
                            <li>iPad App </li>
                            <li>iPhone App</li>
                            <li>Android App</li>
                        </ul>
                        <div class="sec_main_main_content">
                            <h1>World’s #1 Network Saas Company</h1>
                            <h2>Streamlining provider operations, enhancing scalability and service excellence.</h2>
                            <img class="gib_sec_1_img_p" src="IMAGES/global_main_sec.svg" alt="" class="sec_1_IMG">
                            <p>Our partnership with Gibbon has revolutionised conservation. Through web and app development and user-centric design, we've elevated their mission. By increasing public awareness and engagement, we've built a stronger community of wildlife enthusiasts.</p>
                            <p>Our integration of technology and intuitive design has greatly improved the visitor experience, fostering greater support for Gibbon's preservation efforts. This collaboration demonstrates the transformative power of strategic alliances in wildlife conservation.</p>
                            <p>Together, we're ensuring the protection of these remarkable primates and their vital habitat for generations to come.</p>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
        <div class="gib_sec" id="gib_sec2">
            <div class="gib_overview">
                <div class="project_overview">
                    <h3 class="over_view_h1" id="pro_OV_h3">
                        Project overview
                    </h3>
                    <p class="over_view_p" id="pro_Ov_p1">
                        At Byte Digital, we proudly collaborated with Global Network to bring their vision to life. Our team undertook a holistic approach, encompassing UX/UI design, iOS and Android app development, and backend API development. The result: the SAAS app. This innovative solution combines intuitive design with seamless functionality, offering users an exceptional experience for managing and completing tickets assigned to field workforce. Our partnership with them underscores our commitment to delivering comprehensive digital solutions that merge creativity, technology, and user-centric design. The platform stands as a testament to our dedication in transforming concepts into impactful digital realities.
                    </p>
                </div>
                <div class="customer_objective">
                    <h3 class="over_view_h1" id="customer_Ob-h3">
                            Customer objective
                    </h3>
                    <p class="over_view_p" id="customer_OB_p1">
                        To enhance operational efficiency, aim was to develop a streamlined application that empowers efficient task assignment and management for field workforce, elevating overall productivity and coordination.
                    </p>
                </div>
                <div class="project_overview">
                    <h3 class="over_view_h1" id="pro_OV_h3">
                        Business objective
                    </h3>
                    <p class="over_view_p">Organisation strategically targets increased revenue and resource optimisation. Through the application's deployment, we seek to maximise time efficiency, minimise manpower usage, and propel revenue growth, fostering a thriving business ecosystem.</p>
                </div>
            </div>
            <div class="gib_multimedia">
                <h3 class="gib_multimedia_h3">
                    Global network SAAS company
                </h3>
                <p class="gib_multimedia_P1">
                    With trillions of dollars being spent on fiber and wireless infrastructure projects around the world, finding new ways to maximise productivity and minimise risk has never been more critical.
                <p class="gib_multimedia_P2">
                    With a combination of deep industry knowledge, operational experience and expertise across mathematics and software development, SAAS company has been able to create an innovative approach to solving the challenges associated with modern infrastructure projects.
                </p>
            </div>
        </div>
        <div class="gib_sec" id="gib_sec3">
            <div class="gibbon_third_image_section" id="gibbon_third_image_section1">
                <div class="design_service" id="ux_design_service_text">
                    <img src="IMAGES/cards.svg" alt="">
                    <h3>How Our UX Design Service Transformed the SAAS Experience</h3>
                    <p>Through our UX design service, it flourished with a 50% boost in user engagement, while downloads surged by 40%. User satisfaction soared by 40%, and bounce rates were reduced by 25%. This transformation solidified application status as an industry leader in user-centric design and innovation.</p>
                </div>
                <div class="service_img" id="ux_design_service_img">
                    <img src="IMAGES/global_1.svg" alt="">
                </div>

            </div>
            <div class="gibbon_third_image_section" id="gibbon_third_image_section2">
                <div class="service_img" id="android_service_img">
                    <img src="IMAGES/global_2.svg" alt="">
                </div>
                <div class="design_service" id="android_service_text">
                    <img src="IMAGES/global_small_2.svg" alt="">
                    <h3>Revolutionising SAAS platform  with iOS and iPad Development Excellence</h3>
                    <p>Our iOS and iPad development services have propelled the platform to new heights. Downloads surged by 45% within the first month, and user satisfaction soared, registering a 35% increase. We achieved a remarkable 50% reduction in app crashes, ensuring a seamless experience for users. Platform's future looks exceptionally bright.</p>
                </div>
            </div>
            <div class="gibbon_third_image_section" id="gibbon_third_image_section1">
                <div class="design_service" id="ux_design_service_text">
                    <img src="IMAGES/adb.svg" alt="">
                    <h3>Unlocking the full potential of platform with our Android development service</h3>
                    <p>Platform’s growth trajectory was turbocharged by our Android development services. We achieved a stunning 40% increase in daily active users and a 30% uptick in downloads. App stability improved significantly, with a remarkable 55% reduction in crashes. Platform's user-centric Android experience has reshaped its digital presence and user engagement.</p>
                </div>
                <div class="service_img" id="ux_design_service_img">
                    <img src="IMAGES/global_3.svg" alt="">
                </div>

            </div>
        </div>
        <div class="gib_sec" id="sec_4_design_process"> 
            <div class="sec_4_design_process">
                <h2>Design process</h2>
                <h3>Design thinking is a systemic, intuitive, customer-focused problem-solving approach that we use to respond to rapidly changing environments and to create maximum impact.</h3>
                <p>Simply put, design thinking is a methodology that we use to solve complex problems, and it’s a way of using systemic reasoning and intuition to explore ideal future states. Design thinking, is the single biggest competitive advantage that you can have, if your customers are loyal to you—because if you solve for their needs first, you’ll always win.</p>
                <div class="design_process_img">
                    <img src="IMAGES/design_process.svg" alt="" class="design_process">
                </div>
                

            </div>
        </div>
        <div class="user_research">
            <div class="user_reserch_main">
                <div class="user_research_child1">
                    <h2>User Research</h2>
                    <h3>Understanding the customers</h3>
                    <p>We conducted interview with 10 existing users of the application to gather insights on their experience and problems they were facing with the existing platform and make suitable suggestions and improvements as per the feedback recieved.</p>
                </div>
                <div class="user_research_child2">
                    <div class="user_reserch_small_text">Design isn’t just about making things look pretty...</div>
                    <h2>Some wireframing</h2>
                    <h3>We conducted interview with 10 existing users of the application to gather insights on their experience and problems they were facing with the existing platform and make suitable suggestions and improvements as per the feedback recieved.</h3>
                    <p>Once we had a workable user flow and information hierarchy, it was then onto Wire-framing the key components of the platform. This quick and dirty layout method allowed us to play around with the contents layout to make sure it matched our user flow and included all of the important information in their right spots to make sure we increased conversions.</p>
                    <div class="user_research_img">
                        <img src="IMAGES/user_research_img.svg" alt="" class="user_img">
                    </div>
                </div>
            </div>
        </div>
        <div class="gib_sec" id="sec_4_styleguid">
            <h2>Style Guide</h2>
            <div class="sec_4_styleguid_main">
                <div class="color_Typography" id="color" >
                    <h2>Colors used</h2>
                    <div class="color_main">
                        <div class="color_child" id="Primary">
                            <div class="frame_primary"></div>
                            <div class="color_name_container">
                                <p class="color_style" >Primary</p>
                                <p class="color_code" >#EF6E50</p>
                                <p class="color_name" >Burnt Sienna</p>
                            </div>
                        </div>
                        <div class="color_child" id="Secondary">
                            <div class="frame_Secondary"></div>
                            <div class="color_name_container">
                                <p class="color_style" >Secondary</p>
                                <p class="color_code" >#A09ABC</p>
                                <p class="color_name" >Sea Salt</p>
                            </div>
                        </div>
                        <div class="color_child" id="Tertiary">
                            <div class="frame_Tertiary"></div>
                            <div class="color_name_container">
                                <p class="color_style" >Tertiary</p>
                                <p class="color_code" >#E0E0E0</p>
                                <p class="color_name" >Chinese White</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="color_Typography" >
                    <h2>Typography</h2>
                    <div id="Typography" >
                        <div class="typography_child" id="child1">
                            <h3>SF PRO</h3>
                            <p>This neutral, flexible, sans-serif typeface is the system font for iOS, iPadOS, macOS and tvOS. SF Pro features nine weights, variable optical sizes for optimal legibility, four widths, and includes a rounded variant. SF Pro supports over 150 languages across Latin, Greek, and Cyrillic scripts.</p>
                            <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Vv Xx Yy Zz</p>
                            <p>0123456789?!</p>
                        </div>
                        <div class="typography_child" id="child2">
                            <h3>Roboto</h3>
                            <p>Roboto has a dual nature. It has a mechanical skeleton and the forms are largely geometric. At the same time, the font features friendly and open curves. While some grotesks distort their letterforms to force a rigid rhythm, Roboto doesn’t compromise, allowing letters to be settled into their natural width. This makes for a more natural reading rhythm more commonly found in humanist and serif types.</p>
                            <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Vv Xx Yy Zz</p>
                            <p>0123456789?!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mapview">
            <div class="map_view_main">
                <img src="IMAGES/iPhone 13 Pro.svg" alt="" class="map_view_img">
            </div>
        </div>
        <div class="gib_sec" id="gib_sec4">
            <div class="review_heading">
                <h2>Reviews</h2>
                <div class="underline"></div>
            </div>
            <h3>Hear it from our customers</h3>
            <p>"Working with Byte-digital was invaluable for our mobile strategy and Cross-Platform Apps. They expertly guided us in crucial decisions, ensuring alignment with our objectives. Their expertise delivered robust iOS and Android apps, catering to our construction management platform needs. Highly recommended for mobile development endeavours."</p>
            <div class="reviewer">
                <div class="names">
                    <p class="name" >Michael Passalacqua,</p>
                    <p class="name_span" >Product Manager - Render Networks</p>
                </div>
                <div class="star_iages">
                    <img src="IMAGES/Star.svg" alt="">
                    <img src="IMAGES/Star.svg" alt="">
                    <img src="IMAGES/Star.svg" alt="">
                    <img src="IMAGES/Star.svg" alt="">
                    <img src="IMAGES/Star.svg" alt="">
                </div>
            </div>
            
    </div>
    </main>
    <footer>
        <div class="footer">
            <div class="have_project">
                <h3>Have a project</h3>
            </div>
            <div class="have_convo">
                <p>We should start a conversation ✋</p>

            </div>
            <div class="header_book"><button><a href="contacusforlive.html" target="_blank">Book free call today</a></button></div>
            <div class="hrline"></div>
            <div class="footer_table_sec">
                <div class="addrs">
                    <div class="add_cmpny-name">
                        <p>BYTE DIGITAL</p>
                    </div>
                    <div class="cmpny_address">
                        <a href="https://www.google.com/maps/place/470+St+Kilda+Rd,+Melbourne+VIC+3004,+Australia/@-37.8412405,144.9741949,17z/data=!3m1!4b1!4m6!3m5!1s0x6ad6693aa464baf9:0xbd7c4b011b939aeb!8m2!3d-37.8412448!4d144.9767698!16s%2Fg%2F11t46sgpgt?entry=ttu"><p>Ground floor, 470, St. Kilda Road,Melbourne, VIC 3004, Australia</p></a>
                    </div>
                    <div class="cmpny_phn_no"><a href="tel:+61452515004">+61 - 452515004</a></div>
                    <div class="cmpny_email"><a
                            href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new">hello@byte-digital.com.au</a>
                    </div>
                </div>
                <div class="links">
                    <div class="cmpny">
                        <p>Company</p>
                    </div>
                    <a href="aboutus.html" class="service1">About us</a>
                    <a href="index.html#section5" class="service2">Services</a>
                    <a href="our_work.html" class="service3">Our work</a>
                    <a href="blog.html" class="service4"> Our Blog</a>
                </div>

            </div>
            <div class="foot"></div>
            <div class="common_links">
                <div class="copy_right">
                    <ul>
                        <li class="copyright"><a href="#">© Copyright 2023 Byte Digital Consulting Pty Ltd.</a></li>
                        <li class="tndc"><a href="terms_of_condition.html" target="_blank">Terms & conditions</a></li>
                        <li class="privacy-policy"><a href="privacy_policy.html" target="_blank">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="logo_links">

                    <div class="linkdin"><a href="https://www.linkedin.com/company/byte-digital-solutions/"
                            target="_blank"><img src="IMAGES/linkdin.svg" alt="LinkedIn"></a></div>
                    <div class="facebook"><a
                            href="https://www.facebook.com/people/Byte-Digital/61550311131920/?is_tour_dismissed=true"
                            target="_blank"><img src="IMAGES/FACEBOOK.svg" alt="Facebook"></a></div>
                    <div class="twitter"><a href="https://twitter.com/i/flow/login?redirect_after_login=%2FByteDigital_"
                            target="_blank"><img src="IMAGES/TWITTER.svg" alt="Twitter"></a></div>

                </div>

            </div>

        </div>
    </footer>
    <script>
        hamburger = document.querySelector(".hamburger");
        nav = document.querySelector(".headlinks");
        hamburger.onclick = function() {
            nav.classList.toggle("active");
        }
    </script>
</body>
</html>