<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> lifestyle</title>
    <link rel="stylesheet" href="global.css/global.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM Plex Sans:wght@400;500;700&display=swap"
    />
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=SF Pro:wght@400;700&display=swap"
  />
  <link rel="shortcut icon" href="IMAGES/byteLOGO.svg" type="image/x-icon">
    <style>
        body{
            background: linear-gradient(90deg, #232526 0%, #414345 100%);
        }
    </style>

</head>
<body>
    <header>
        <div class="header" id="header">
            <div class="logo" id="logo">
                <a href="index.html"><img src="IMAGES/byteLOGO.svg" alt=""></a>
                <div class="byte-digital">
                    <a href="index.html"><div class="byte">Byte</div></a>
                    <a href="index.html"><div class="digital">Digital</div></a>
                </div>
            </div>
            <div class="headlinks" id="headerlinks">

                <a href="aboutus.html">
                    <div class="no-decoration">About us </div>
                </a>
                <a href="index.html#section5">
                    <div class="no-decoration">Services </div>
                </a>
                <a href="our_work.html">
                    <div class="no-decoration" id="active">Our work </div>
                </a>
                <a href="blog.html">
                    <div class="no-decoration">Blog </div>
                </a>
                <a href="contacusforlive.html" target="_blank">
                    <div class="no-decoration"><button>Book a call</button> </div>
                </a>

            </div>
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </header>
    <main>
        <div class="gib_sec" id="gib_sec1">
            <div class="gib_sec1_top_left">
                <a href="our_work.html">
                    <p  class="top_left" >Our work</p>
                </a>
                <img src="IMAGES/top_left.svg" alt="">
                <a href="global.html">
                    <p class="active" >Global network SAAS company</p>
                </a>
            </div>
            <div class="gib_sec_main">
                <div class="gib_sec_main_div">
                    <div class="sec_main_img">
                        <img class="gib_sec_1_img" src="IMAGES/lyfestyleglobal_main_sec.svg" alt="" class="sec_1_IMG">
                    </div>
                    <div class="sec1_main_main">
                        <ul class="gib_main_list">
                            <li>UX Design </li>
                            <li>UI Design</li>
                            <li>Android App</li>
                        </ul>
                        <div class="sec_main_main_content">
                            <h1>Lifestyle App : Scaling new heights of success.</h1>
                            <h2>Working together, we've helped Lifestyle app achieve success. Our services have made their work easier, and their customers happier.</h2>
                            <img class="gib_sec_1_img_p" src="IMAGES/lyfestyleglobal_main_sec.svg" alt="" class="sec_1_IMG">
                            <p>Our partnership with lifestyle app has been nothing short of transformative. By leveraging our services,  lifestyle app has achieved unprecedented levels of success.</p>
                            <p>Our collaborative efforts have not only streamlined their operations but have also enabled them to provide a superior experience to their customers. Together, we've harnessed the power of innovation and dedication to propel  lifestyle app to new heights in their industry.</p>
                            <p>We are proud to be a key contributor to their journey, and we look forward to continuing to empower them with our unwavering support and expertise.</p>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
        <div class="gib_sec" id="gib_sec2">
            <div class="gib_overview">
                <div class="project_overview">
                    <h3 class="over_view_h1" id="pro_OV_h3">
                        Project overview
                    </h3>
                    <p class="over_view_p" id="pro_Ov_p1">
                        The Lifestyle App is designed to empower senior citizens and individuals with terminal illnesses to easily document their life stories. With a user-friendly interface and a strong emphasis on privacy and security, the Lifestyle App encourages users to preserve their legacies. It fosters a sense of community and mutual support while ensuring that these personal histories endure for generations. As an ongoing project, the Lifestyle App remains committed to enhancing the experience and making life documentation accessible to all, enriching lives and celebrating unique stories.
                    </p>
                </div>
                <div class="customer_objective">
                    <h3 class="over_view_h1" id="customer_Ob-h3">
                            Customer objective
                    </h3>
                    <p class="over_view_p" id="customer_OB_p1">
                        Enable users to effortlessly document and share their life stories, fostering a sense of connection, reflection, and personal legacy preservation through the Lifestyle App.
                    </p>
                </div>
                <div class="project_overview">
                    <h3 class="over_view_h1" id="pro_OV_h3">
                        Business objective
                    </h3>
                    <p class="over_view_p">Our mission is to establish the Lifestyle App as the premier platform for life documentation, enhancing user well-being, fostering community, and preserving personal legacies for generations to come.</p>
                </div>
            </div>
            <div class="gib_multimedia">
                <h3 class="gib_multimedia_h3">
                    Lifestyle app
                </h3>
                <p class="gib_multimedia_P1">
                    Our partnership with the Lifestyle App is rooted in a shared commitment to empower individuals in preserving their life stories. Together, we are dedicated to enhancing the platform's capabilities and user experience.
                <p class="gib_multimedia_P2">
                    We envision a user-centric environment where users can seamlessly document their unique life journeys. 
                </p>
                <p class="gib_multimedia_P2">
                    This collaboration focuses on expanding features, reinforcing security, and fostering a supportive community. By encouraging users to chronicle their experiences, we're promoting personal well-being and a sense of belonging.
                </p>
                <p class="gib_multimedia_P2">
                    Our joint mission is to ensure that the legacies and stories shared through the Lifestyle App endure for generations to come. Together, we aim to make the Lifestyle App a cornerstone in preserving the beauty and diversity of human experiences.
                </p>
            </div>
        </div>
        <div class="gib_sec" id="gib_sec3">
            <div class="gibbon_third_image_section" id="gibbon_third_image_section1">
                <div class="design_service" id="ux_design_service_text">
                    <img src="IMAGES//adb.svg" alt="">
                    <h3>Transforming User Journeys: Elevate Your Lifestyle App with Our UX Design Service</h3>
                    <p>Our UX design service for the Lifestyle App has brought about substantial enhancements. User engagement has surged by 20%, highlighting the intuitive and enjoyable interface we've developed. This, in turn, has led to a remarkable 15% boost in user retention, underlining higher satisfaction and loyalty. Notably, the app's user base has expanded by 20% in the past quarter, reflecting the profound impact of our UX design on the app's success. We continue to prioritise data-driven improvements to enrich the user experience and the app's overall performance.</p>
                </div>
                <div class="service_img" id="ux_design_service_img">
                    <img src="IMAGES/lyfestyleglobal_1.svg" alt="">
                </div>

            </div>
            <div class="gibbon_third_image_section" id="gibbon_third_image_section2">
                <div class="service_img" id="android_service_img">
                    <img src="IMAGES/lyfestyleglobal_2.svg" alt="">
                </div>
                <div class="design_service" id="android_service_text">
                    <img src="IMAGES/global_small_2.svg" alt="">
                    <h3>Android Development: Powering Lifestyle App's Success</h3>
                    <p>Our Android development service has been a driving force behind the Lifestyle App's remarkable success. With our expert enhancements, the app experienced a 30% boost in downloads in just three months, demonstrating its increasing popularity. Additionally, the crash rate dropped by 40%, affirming the app's improved stability and user satisfaction. These results reflect the profound impact of our Android development, making the Lifestyle App a more accessible, reliable, and user-friendly platform for documenting life stories</p>
                </div>
            </div>
            <!-- <div class="gibbon_third_image_section" id="gibbon_third_image_section1">
                <div class="design_service" id="ux_design_service_text">
                    <img src="IMAGES/adb.svg" alt="">
                    <h3>Unlocking the full potential of platform with our Android development service</h3>
                    <p>Platform’s growth trajectory was turbocharged by our Android development services. We achieved a stunning 40% increase in daily active users and a 30% uptick in downloads. App stability improved significantly, with a remarkable 55% reduction in crashes. Platform's user-centric Android experience has reshaped its digital presence and user engagement.</p>
                </div>
                <div class="service_img" id="ux_design_service_img">
                    <img src="IMAGES/global_3.svg" alt="">
                </div>

            </div> -->
        </div>
        <!-- <div class="gib_sec" id="sec_4_design_process"> 
            <div class="sec_4_design_process">
                <h2>Design process</h2>
                <h3>Design thinking is a systemic, intuitive, customer-focused problem-solving approach that we use to respond to rapidly changing environments and to create maximum impact.</h3>
                <p>Simply put, design thinking is a methodology that we use to solve complex problems, and it’s a way of using systemic reasoning and intuition to explore ideal future states. Design thinking, is the single biggest competitive advantage that you can have, if your customers are loyal to you—because if you solve for their needs first, you’ll always win.</p>
                <div class="design_process_img">
                    <img src="IMAGES/design_process.svg" alt="" class="design_process">
                </div>
                

            </div>
        </div> -->
        <div class="user_research">
            <div class="user_reserch_main">
                <div class="user_research_child1">
                    <h2>User Research</h2>
                    <h3>Understanding the customers</h3>
                    <p>We conducted interview with 10 existing users of the application to gather insights on their experience and problems they were facing with the existing platform and make suitable suggestions and improvements as per the feedback recieved.</p>
                </div>
                <div class="user_research_child2">
                    <div class="user_reserch_small_text">Design isn’t just about making things look pretty...</div>
                    <h2>Some wireframing</h2>
                    <h3>We utilised wireframes for platform to blueprint app structure, enhance usability, streamline development, and ensure a user-centric, efficient final product.</h3>
                    <p>Once we had a workable user flow and information hierarchy, it was then onto Wire-framing the key components of the platform. This quick and dirty layout method allowed us to play around with the contents layout to make sure it matched our user flow and included all of the important information in their right spots to make sure we increased conversions.</p>
                    <div class="user_research_img">
                        <img src="IMAGES/user_research_img.svg" alt="" class="user_img">
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="gib_sec" id="sec_4_styleguid">
            <h2>Style Guide</h2>
            <div class="sec_4_styleguid_main">
                <div class="color_Typography" id="color" >
                    <h2>Colors used</h2>
                    <div class="color_main">
                        <div class="color_child" id="Primary">
                            <div class="frame_primary"></div>
                            <div class="color_name_container">
                                <p class="color_style" >Primary</p>
                                <p class="color_code" >#EF6E50</p>
                                <p class="color_name" >Burnt Sienna</p>
                            </div>
                        </div>
                        <div class="color_child" id="Secondary">
                            <div class="frame_Secondary"></div>
                            <div class="color_name_container">
                                <p class="color_style" >Secondary</p>
                                <p class="color_code" >#A09ABC</p>
                                <p class="color_name" >Sea Salt</p>
                            </div>
                        </div>
                        <div class="color_child" id="Tertiary">
                            <div class="frame_Tertiary"></div>
                            <div class="color_name_container">
                                <p class="color_style" >Tertiary</p>
                                <p class="color_code" >#E0E0E0</p>
                                <p class="color_name" >Chinese White</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="color_Typography" >
                    <h2>Typography</h2>
                    <div id="Typography" >
                        <div class="typography_child" id="child1">
                            <h3>SF PRO</h3>
                            <p>This neutral, flexible, sans-serif typeface is the system font for iOS, iPadOS, macOS and tvOS. SF Pro features nine weights, variable optical sizes for optimal legibility, four widths, and includes a rounded variant. SF Pro supports over 150 languages across Latin, Greek, and Cyrillic scripts.</p>
                            <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Vv Xx Yy Zz</p>
                            <p>0123456789?!</p>
                        </div>
                        <div class="typography_child" id="child2">
                            <h3>Roboto</h3>
                            <p>Roboto has a dual nature. It has a mechanical skeleton and the forms are largely geometric. At the same time, the font features friendly and open curves. While some grotesks distort their letterforms to force a rigid rhythm, Roboto doesn’t compromise, allowing letters to be settled into their natural width. This makes for a more natural reading rhythm more commonly found in humanist and serif types.</p>
                            <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Vv Xx Yy Zz</p>
                            <p>0123456789?!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="mapview">
            <div class="map_view_main">
                <img src="IMAGES/lifestyleiPhone 13 Pro.svg" alt="" class="map_view_img">
            </div>
        </div>
        <div class="gib_sec" id="gib_sec4">
            <div class="review_heading">
                <h2>Reviews</h2>
                <div class="underline"></div>
            </div>
            <h3>Hear it from our customers</h3>
            <p>“Byte came highly recommended by an industry professional and has been exactly what my start-up project needed after a very difficult time getting my app idea developed. He has provided a clear path, added valuable ideas, and has so far managed the process far better than previous developers. We are really excited to see where this can take the business and look forward to a long and successful relationship.”</p>
            <div class="reviewer">
                <div class="names">
                    <p class="name" >Nicole Taylor,</p>
                    <p class="name_span" >Startup Founder</p>
                </div>
                <div class="star_iages">
                    <img src="IMAGES/Star.svg" alt="">
                    <img src="IMAGES/Star.svg" alt="">
                    <img src="IMAGES/Star.svg" alt="">
                    <img src="IMAGES/Star.svg" alt="">
                    <img src="IMAGES/Star.svg" alt="">
                </div>
            </div>
            
    </div>
    </main>
    <footer>
        <div class="footer">
            <div class="have_project">
                <h3>Have a project</h3>
            </div>
            <div class="have_convo">
                <p>We should start a conversation ✋</p>

            </div>
            <div class="header_book"><button><a href="contacusforlive.html" target="_blank">Book free call today</a></button></div>
            <div class="hrline"></div>
            <div class="footer_table_sec">
                <div class="addrs">
                    <div class="add_cmpny-name">
                        <p>BYTE DIGITAL</p>
                    </div>
                    <div class="cmpny_address">
                        <a href="https://www.google.com/maps/place/470+St+Kilda+Rd,+Melbourne+VIC+3004,+Australia/@-37.8412405,144.9741949,17z/data=!3m1!4b1!4m6!3m5!1s0x6ad6693aa464baf9:0xbd7c4b011b939aeb!8m2!3d-37.8412448!4d144.9767698!16s%2Fg%2F11t46sgpgt?entry=ttu"><p>Ground floor, 470, St. Kilda Road, <br>Melbourne, VIC 3004, Australia</p></a>
                    </div>
                    <div class="cmpny_phn_no"><a href="tel:+61452515004">+61 - 452515004</a></div>
                    <div class="cmpny_email"><a
                            href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new">hello@byte-digital.com.au</a>
                    </div>
                </div>
                <div class="links">
                    <div class="cmpny">
                        
                    </div>
                    <a href="about_us8aug.html" class="service1">About us</a>
                    <a href="index.html#section5" class="service2">Services</a>
                    <a href="our_work.html" class="service3">Our work</a>
                    <a href="blog.html" class="service4"> Our Blog</a>
                </div>

            </div>
            <div class="foot"></div>
            <div class="common_links">
                <div class="copy_right">
                    <ul>
                        <li class="copyright"><a href="#">© Copyright 2023 Byte Digital Consulting Pty Ltd.</a></li>
                        <li class="tndc"><a href="terms_of_condition.html" target="_blank">Terms & conditions</a></li>
                        <li class="privacy-policy"><a href="privacy_policy.html" target="_blank">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="logo_links">

                    <div class="linkdin"><a href="https://www.linkedin.com/company/byte-digital-solutions/"
                            target="_blank"><img src="IMAGES/linkdin.svg" alt="LinkedIn"></a></div>
                    <div class="facebook"><a
                            href="https://www.facebook.com/people/Byte-Digital/61550311131920/?is_tour_dismissed=true"
                            target="_blank"><img src="IMAGES/FACEBOOK.svg" alt="Facebook"></a></div>
                    <div class="twitter"><a href="https://twitter.com/i/flow/login?redirect_after_login=%2FByteDigital_"
                            target="_blank"><img src="IMAGES/TWITTER.svg" alt="Twitter"></a></div>

                </div>

            </div>

        </div>
    </footer>
    <script>
        hamburger = document.querySelector(".hamburger");
        nav = document.querySelector(".headlinks");
        hamburger.onclick = function() {
            nav.classList.toggle("active");
        }
    </script>
</body>
</html>