 /* header */
 body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(90deg, #232526 0%, #414345 100%);
}
.header{
    padding: 252px;
    padding-bottom: 24px;
    padding-top: 24px;
    display: flex;
justify-content: space-between;
}
.logo{
    display: flex;
}
.byte {
    color: #F5F5F5;
    font-family: IBM Plex Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.72px;
}

.digital {
    color: #F5F5F5;
    font-family: IBM Plex Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.52px;
}
.headlinks{
    display: flex;

column-gap: 40px;
align-items: center;
}
.hamburger{
    display: none;
}
.headlinks a:hover {
color: #8CDFD6;
}
#active{
    color: #8CDFD6;
}

.headlinks a {
    color: #F5F5F5;
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}
.no-decoration button:hover{
    cursor: pointer;
}
.no-decoration button{
    color: #000;
font-family: IBM Plex Sans;
font-size: 23px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.46px;
border-radius: 8px;
border: 2px solid #32B4A5;
background: #8CDFD6;
padding: 15px;
padding-right: 30px;
padding-left: 30px;
}
.no-decoration{
    text-decoration: none;
}


.aboutus_child{
    /* Adding a background image */

color: white; /* Adjust text color for better visibility */
text-align: center;

}
.aboutus_main{

background-image: url("../IMAGES/ABOUTMAIN.jpg");
background-repeat: no-repeat;
background-position: center center;

background-size: cover;
height: 100%;
padding: 120px;
padding-right: 252px;
padding-left: 252px;
}

.about_us{

text-align: left;
width: 100%;
max-width: 696px;

}


.about_us h1{
    color: var(--secondary, #70C1D6);
font-family: IBM Plex Sans;
font-size: 72px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.44px;
}
.about_us p {
    color: #E0E0E0;
font-family: IBM Plex Sans;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.8px;
}
.about_us p span {
    color: var(--secondary, #70C1D6);
font-family: IBM Plex Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.8px;
}
.rich{
    padding: 252px;
padding-top: 100px;
padding-bottom: 100px;
background: #70C1D6;
}
.rich p {
    color: #f4f0f0;
text-align: center;
font-family: IBM Plex Sans;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.28px;
margin: 0;
}
.rich p span {
    color: var(--tertiary, #141414);
font-family: IBM Plex Sans;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.28px;
}
.about_sec3{
    padding: 252px;
    padding-top: 150px;
    padding-bottom: 150px;
}
.who_we_are{
    display: flex;
    padding-bottom: 296px;
    column-gap: 25px;
    align-items: center;
}
#how_do_we{
    padding-bottom: 0px;
}
.who_we{
    width: 50%;

}
.who_we h3{
    color: #E0E0E0;
font-family: IBM Plex Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.8px;
margin: 0;
padding-bottom: 16px;
}
.who_we h2 {
    color: #CCC;
font-family: IBM Plex Sans;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.64px;
margin: 0;
padding-bottom: 16px;
}
.who_we p {
    color: #CCC;
font-family: IBM Plex Sans;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: -0.48px;
margin: 0;
}

.about_image{
    display: flex;
    justify-content: space-around;
    border-radius: 24px;
border: 1px solid #B0DDE8;
background: #DFF8EB;
width: 50%;
min-height: 400px;
}
.about_image img{
    box-sizing: border-box;
    position: relative;
    top: 35px;
    width: 18.75vw; /* 360px (width) / 1920px (screen width) * 100vw (viewport width) */
    height: 23.75vw; /* 456px (height) / 1920px (screen width) * 100vw (viewport width) */
    max-width: 360px; /* Set the maximum width for the image */
    max-height: 456px; 
}
#laptop{
    width: 33.85416667vw; /* 650px (width) / 1920px (screen width) * 100vw (viewport width) */
    height: 23.75vw; /* 456px (height) / 1920px (screen width) * 100vw (viewport width) */
    max-width: 650px; /* Set the maximum width for the image */
    max-height: 456px;
}
/* footer */

.have_project{
text-align: center;
}

.have_project h3{
color: #000;
font-family: IBM Plex Sans;
font-size: 120px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;

}
.have_convo{
text-align: center;

margin: 0;
}
.have_convo p{
color: #000;
font-family: IBM Plex Sans;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 24px;
margin-bottom: 48px;
}
.header_book button{
border-radius: 8px;
border: 2px solid #32B4A5;
background: #8CDFD6;
display: block;
margin: auto;
padding-left: 64px;
padding-right: 64px;
padding-top:24px ;
padding-bottom:24px ;
text-align: center;
margin-bottom: 48px;}
.header_book a {color: #000;
font-family: IBM Plex Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.48px;
margin-bottom: 48px;
}

.add_cmpny-name p {
color: #1F1F1F;
font-family: IBM Plex Sans;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.92px;
margin: 0;
margin-bottom: 16px;
}
.cmpny_address p { 
color: #3D3D3D;
font-family: IBM Plex Sans;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 1.44px;
margin: 0;
margin-bottom: 16px;
}
.cmpny_phn_no a{
color: #3D3D3D;
font-family: IBM Plex Sans;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 1.92px;
margin: 0;
margin-bottom: 16px;
}
.cmpny_email a{
color: #3D3D3D;
font-family: IBM Plex Sans;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 1.92px;
}
.cmpny p{
color: #3D3D3D;
font-family: IBM Plex Sans;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 1.92px;
margin: 0;
margin-bottom: 24px;
}
.service1{
color: #1F1F1F;
font-family: IBM Plex Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.44px;
margin-bottom: 16px;
}
.service2{
color: #1F1F1F;
font-family: IBM Plex Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.44px;
margin-bottom: 16px;
}
.service3{
color: #1F1F1F;
font-family: IBM Plex Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.44px;
margin-bottom: 16px;
}
.service4{
color: #1F1F1F;
font-family: IBM Plex Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.44px;
margin-bottom: 16px;
}
.copyright a{
color: #3D3D3D;
font-family: IBM Plex Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.96px;
}
.tndc a{
color: #292929;
font-family: IBM Plex Sans;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.02px;
}
.privacy-policy a{
color: #292929;
font-family: IBM Plex Sans;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.02px;
}
.footer{
padding: 85px 252px;
background: #98D2E1;
}
.footer_table_sec{
display: flex;
justify-content: space-between;
}
.common_links{
display: flex;
justify-content: space-between;
margin: 0;
margin-top: 40px;
align-items: center;
}
.copy_right ul {
display: flex;
column-gap: 25px;
padding-left: 0px;
list-style: none;
flex-wrap: wrap;

}
.logo_links{
display: flex;
width: 180px;
column-gap: 20px;

}


.links{
display: flex;
flex-direction: column;
}
.addrs{
width: 690px;
margin-bottom: 80px;
}
.hrline{
height: 3px;
stroke-width: 4px;
background: #292929;
margin-bottom: 80px;
}
hr{
margin: 0;
}
a{
text-decoration: none;
}
.foot{
height: 2px;
stroke-width: 4px;
background: #3D3D3D;
margin-bottom: 80px;
}

@media(max-width:1512px){
    .header{
        padding: 24px 150px;
    }
.byte {
font-size: 28px;
letter-spacing: -0.56px;}
.digital {
font-size: 20px;
letter-spacing: -0.4px;
}
.headlinks a {
font-size: 16px;
letter-spacing: -0.32px;
}
.about_us h1 {
font-size: 72px;
letter-spacing: -1.44px;
margin: 0;
}
.about_us p {
font-size: 32px;;
letter-spacing: -0.64px;
margin: 0;
}
.about_us p span {
font-size: 32px;
letter-spacing: -0.64px;
}
.who_we {
    width: 50%;
}
.who_we h3 {
font-size: 32px;
letter-spacing: -0.48px;
}
.who_we h2 {
font-size: 24px;
letter-spacing: -0.64px; 
}
.who_we p {
font-size: 16px;
letter-spacing: -0.32px;
}
.no-decoration button {
font-size: 17px;
letter-spacing: -0.34px;
padding: 11px;
padding-right: 27px;
padding-left: 27px;
}
.about_image {
border-radius: 24px;
width:50%;
min-height: 278px;

}


.logo img{
width: 64px;
height: 64px;
}
.about_sec3 {
padding: 80px 150px;
}
.who_we_are {
padding-bottom: 90px;
align-items: center;
}
.rich{
display: none;
}
.aboutus_main {
padding: 85px 150px;
}
/* ...................footer.............. */
.have_project h3 {
    font-size: 80px;
}
.have_convo p {
    font-size: 32px;
    margin-top: 8px;
    margin-bottom: 24px;

}
.header_book a {
    font-size: 17px;
    letter-spacing: -0.34px;
}
.add_cmpny-name p {
    font-size: 32px;
    letter-spacing: 1.92px;
    margin-bottom: 16px;
}
.cmpny_address p {
    font-size: 16px;
    letter-spacing: 0.96px;
    margin-bottom: 16px;

}
.cmpny_phn_no a {
    font-size: 24px;
    letter-spacing: 1.44px;
    margin-bottom: 16px;
    display: block;
    margin-bottom: 16px;
}
.cmpny_email a {
    font-size: 24px;
    letter-spacing: 1.44px;
}
.cmpny p {
    font-size: 32px;
    letter-spacing: 1.92px;
    margin-bottom: 24px;
}
 .service4 {
    font-size: 16px;
    letter-spacing: 0.96px;
    margin-bottom: 0;
}
.service3  {
    font-size: 16px;
    letter-spacing: 0.96px;
}
 .service2{
    font-size: 16px;
    letter-spacing: 0.96px;
}
.service1 {
    font-size: 16px;
    letter-spacing: 0.96px;
}
.header_book button {
    margin-bottom: 40px;
    padding: 13px;
    padding-right: 32px;
    padding-left: 32px;
}
.hrline {
    margin-bottom: 40px;
}
.addrs {
    margin-bottom: 0px;
}
.foot {
    margin-bottom: 40px;
    margin-top: 32px;
}
.footer {
   padding: 85px  150px;
}
}



@media only screen and (max-width: 1146px) {
.header{align-items: center;
justify-content: space-between;}
.headlinks{display: none;}
header .hamburger {
    display: block;
}

header .headlinks {
    margin: 0;
    position: absolute;
    top: -100%;
    left: 0;
   
    height: fit-content;
    background: linear-gradient(90deg, #232526 0%, #414345 100%);
    transition: 0.3s;
    text-align: center;
    z-index: 2;
    
}
.headlinks .active{
    width: 100%;
}


header .headlinks.active {
    top: 85px;
    width: -webkit-fill-available;
}
header .headlinks.active .no-decoration{
    margin-top: 24px;
    margin-bottom: 24px;
}
header .headlinks.active .no-decoration button{
    width: 80%;
}
header .headlinks  {
    display: block;
}

.hamburger div{
    width: 30px;
height: 2px;
margin: 6px 0;
background: #fff;
}
}
@media(max-width:900px){
    .header{
        padding: 16px 110px;
    }
    .footer{
        padding: 80px 110px;
    }
    .aboutus_main {
        padding: 50px 110px 50px 110px;
    }
    .about_sec3 {
        padding: 50px 110px 80px 110px ;
    }
}

@media(max-width:780px){
.about_us {
max-width: 364px;
}
.about_us h1 {
font-size: 48px;
letter-spacing: -0.96px;
margin: 0;
}
.about_us p {
font-size: 16px;;
letter-spacing: -0.32px;
margin: 0;
}
.about_us p span {
font-size: 16px;
letter-spacing: -0.32px;
}
.who_we_are {
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 32px;
}
.who_we h3 {

font-size: 24px;
letter-spacing: -0.48px; 
}
.who_we h2 {
font-size: 16px;
letter-spacing: -0.32px;
}
.who_we p {
font-size: 16px;
letter-spacing: -0.32px;
}
.no-decoration button {
font-size: 17px;
letter-spacing: -0.34px;
padding: 11px;
padding-right: 27px;
padding-left: 27px;
}


.logo img{
width: 40px;
height: 40px;
}
.about_sec3 {
padding: 40px 85px 40px 85px 
}
.who_we_are {
justify-content: space-around;
padding-bottom: 80px;
align-items: center;
}
.rich{
display: none;
}
.aboutus_main {
    padding: 80px 85px 80px 85px 
}
.header {
    padding: 16px 85px; 
}
.byte{
    font-size: 16px;
}
.digital{
    font-size: 12px;
}
header .headlinks.active {
    top: 70px;
    width: -webkit-fill-available;
}
/* ...................footer.............. */
.have_project h3 {
    font-size: 40px;
}
.have_convo p {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 16px;

}
.header_book a {
    font-size: 17px;
    letter-spacing: -0.34px;
}
.add_cmpny-name p {
    font-size: 24px;
    letter-spacing: 1.44px;
    margin-bottom: 16px;
}
.cmpny_address p {
    font-size: 16px;
    letter-spacing: 0.96px;
    margin-bottom: 16px;

}
.cmpny_phn_no a {
    font-size: 20px;
    letter-spacing: 1.2px;
    margin-bottom: 16px;
    display: block;
    
}
.cmpny_email a {
    font-size: 20px;
    letter-spacing: 1.2px;
}
.cmpny p {
    font-size: 24px;
    letter-spacing: 1.44px;
    margin-bottom: 24px;
}
.header_book button {
    margin-bottom: 40px;
    padding: 11px;
    padding-right: 24px;
    padding-left: 24px;
}
.hrline {
    margin-bottom: 16px;
}
.addrs {
    margin-bottom: 0px;
}
.foot {
   
    margin-top: 24px;
}
.footer {
  padding: 80px 85px;
}
.addrs {
width: 45%;
}
}
@media(max-width:780px){
.copyright{
    width: 70%;
}
}
@media(max-width:780px){
.about_image {
margin-bottom: 36px;
width: 100%;
}
.who_we_are {
padding-bottom: 40px;
}
.who_we {
    width: 100%;
}
.about_image img {
    width: 60%;
    height: auto;
    top: 40px;
}
#laptop{
    width: 70%;
    height: auto;
    row-gap: 32px;
}
#speaking{
    flex-direction: column-reverse;
}

.have_project h3 {
font-size: 24px;
}
.have_convo p {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 24px;

}
.header_book a {
    font-size: 15px;
    letter-spacing: -0.3px;
}
.add_cmpny-name p {
    font-size: 24px;
    letter-spacing: 1.44px;
    margin-bottom: 8px;
}
.cmpny_address p {
    font-size: 14px;
    letter-spacing: 0.84px;
    margin-bottom: 8px;

}
.cmpny_phn_no a {
    font-size: 20px;
    letter-spacing: 1.2px;
    margin-bottom: 8px;
    display: block;
    
}
.cmpny_email a {
    font-size: 20px;
    letter-spacing: 1.2px;
    
}
.cmpny_email{
    margin-bottom: 24px;
}
.cmpny p {
    font-size: 24px;
    letter-spacing: 1.44px;
    margin-bottom: 24px;
}
 .service4 {
    font-size: 15px;
    letter-spacing: 0.9px;
    margin-bottom: 0;
    color: #666;
    margin-bottom: 0;
}
.service3  {
    font-size: 15px;
    letter-spacing: 0.9px;
    color: #666;
    margin-bottom: 0;
}
 .service2{
    font-size: 15px;
    letter-spacing: 0.9px;
    color: #666;
    margin-bottom: 0;
}
.service1 {
    font-size: 15px;
    letter-spacing: 0.9px;
    color: #666;
letter-spacing: 0.9px;
margin-bottom: 0;
}
.header_book button {
    margin-bottom: 24px;
    padding: 13px;
    padding-right: 32px;
    padding-left: 32px;
}
.hrline {
    margin-bottom: 24px;
}
.addrs {
   margin-bottom: 8px;
    width: 100%;
}

.foot {
    margin-bottom: 24px;
    margin-top: 24px;
}


.links p {
    display: flex;
}
.footer_table_sec {
    flex-direction: column;
}
.cmpny{
    display: none;
}
.addrs::after{
    content: "Company";
    color: #1F1F1F;
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.44px;
}
.copy_right {
    width: 100%;
    color: #3D3D3D;
    font-size: 16px;
    letter-spacing: 0.96px;
}
.copyright{
    width: 100%;
}
.common_links {
    flex-direction: column-reverse;
    align-items: normal;
    margin-top: 0px;
    gap: 16px;
}
.links {
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
}
.copy_right ul {
display: flex;
gap: 16px;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content: flex-start;}
.tndc a{
    width: 40%;
    color: #666;
    font-size: 14px;
    letter-spacing: 0.84px;
    

}
.tndc{
    padding-right: 16px;
}
.privacy-policy a{
    width: 40%;
    color: #666;
    font-size: 14px;
    letter-spacing: 0.84px;
}
.privacy-policy{
    width: 40%;
}

.about_us h1 {
font-size: 32px;
letter-spacing: -0.64px;
}
.about_us {
    width: 100%;
}

}

@media(max-width:550px){
    .header{
        padding: 16px 40px;
    }
    .footer{
        padding: 32px 40px;
    }
    .aboutus_main {
        padding: 40px 40px;
        background-image: none;
        padding-bottom: 0px;
    }
    .about_sec3 {
        padding: 80px 40px;
    }
}
@media(max-width:380px){
    .header{
        padding: 16px 16px;
    }
    .footer{
        padding: 32px 16px;
    }
    .aboutus_main {
        padding: 80px 16px;
    }
    .about_sec3 {
        padding: 80px 16px;
    }
}


